body {
  margin: 0px;
  padding: 0px;
  background-color: #efefef;
}

header {
  display: inline-block;
  background-color: #404040;
  width: 100%;
  border-bottom: 15px solid;
  border-image: url("./assets/images/Border-BG.jpg") 150 round;
  text-align: center;
}
img {
  width: 40%;
  height: auto;
}

h1 {
  display: inline-block;
}

#logo {
  display: inline-block;
  color: white;
  height: 40px;
  padding: 10px;
  border: none;
}

#text {
  color: #efefef;
}

.last-header {
  display: inline-block;
  background-color: dodgerblue;
  width: 75%;
  margin-top: 20px;
  padding: 0.5rem;
  position: relative;
}
.last-header::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid dodgerblue;
}
.get-intouch {
  text-align: center;
  background-color: dodgerblue;
  width: 75%;
  margin: 0 auto;
}

.get-intouch::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 10px;
  width: 20;
  height: 10;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid dodgerblue;
}
.last-header h4,
.get-intouch h4 {
  width: 75%;
  display: inline-block;
  color: #fff;
  text-align: left;
}
.wrap {
  align-items: center;
}
.last-header button,
.get-intouch button {
  display: inline-block;
  border: none;
  background: #fff;
  padding: 1rem;
  border-radius: 5px;
}
.header-details {
  display: inline-block;
}
h1.header-details {
  color: #efefef;
}
span {
  color: black;
}

.services {
  width: 80%;
  margin: 80px auto;
  text-align: center;
}
.icons {
  display: inline-block;
  width: 20%;
  text-align: center;
  padding: 1rem;
  position: relative;
}

.icons i {
  color: #fff;
  background: #404040;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  font-size: 30px;
}
.icons p {
  width: 95%;
}
.icons button {
  background-color: dodgerblue;
  padding: 0.5rem;
  color: #fff;
  border: none;
  border-radius: 5px;
}
.icons:hover {
  background: #fff;
  box-shadow: 8px 0 22px -6px #afafaf;
}
.icons:hover::after {
  content: "";
  position: absolute;
  bottom: -40px;
  left: 0px;
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid #fff;
}
.icons:hover i {
  background: dodgerblue;
}
.icons:hover button {
  visibility: hidden;
}

/* =============== 
    Important to remember!!
===================
.icons:nth-child(3):hover {
  background: blue;
} */

.recent-work {
  display: inline-block;
}

.recent-work:hover {
  background: #fff;
  box-shadow: 8px 0 22px -6px #afafaf;
}

.recent-work::after {
  content: "";
  position: absolute;
  bottom: -40px;
  left: 0px;
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid #fff;
}

button h3 {
  display: inline-block;
  color: gray;
  background-color: white;
  width: 106px;
}

#superb {
  display: inline-block;
  font-size: 8px;
  font-style: normal;
  color: gray;
  text-align: center;
}

#squeeky {
  display: inline-block;
  font-size: 8px;
  font-style: normal;
  color: gray;
}

#multi {
  display: inline-block;
  font-size: 8px;
  font-style: normal;
}

#high {
  display: inline-block;
  font-size: 8px;
  font-style: normal;
  color: gray;
}

.content {
  color: #404040;
}

.recent-work {
  width: 100%;
  text-align: center;
}

.images {
  display: inline-block;
  width: 25%;
  /*border: 1px solid yellow;*/
  margin: 10px;
}

.image1 {
  width: 100%;
}

.style-img {
  background-color: whitesmoke;
  display: inline-block;
  font-size: 12px;
  background-color: white;
  padding-left: 25px;
  text-align: left;
}

button {
  background-color: dodgerblue;
}

.middle-page {
  width: 82%;
  text-align: center;
  margin: 100px auto;
}

.design {
  width: 30%;
  display: inline-block;
  vertical-align: top;
}
h2 .design {
  display: inline-block;
}

.testimonial {
  border: 0px solid orange;
  display: inline-block;
  width: 65%;
}

.John {
  display: inline-block;
  border: 1px solid red;
  background-color: white;
  margin: 15px;
  width: 41%;
  text-align: left;
  padding: 15px;
}
.John p {
  width: 90%;
}

h6 .design {
  display: inline-block;
}

#tabs {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-shadow: 8px 0 22px -6px #afafaf;
}

#tabs label {
  background: #eee;
  padding: 0.7em 1em;
  cursor: pointer;
  z-index: 1;
}

.tab-content {
  width: 100%;
  padding: 1em;
  order: 1;
  background: #fff;
}

.tab-content button {
  background: #4f8ccd;
  color: #fff;
  text-transform: uppercase;
  padding: 1em 3em;
  border-radius: 3px;
  /* margin-left: auto; */
  align-self: flex-end;
}

#tabs input[type="radio"],
.tab-content {
  display: none;
}

#tabs input[type="radio"]:checked + label {
  background: #fff;
  border-bottom: 1px solid #fff;
}

#tabs input[type="radio"]:checked + label + .tab-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.about-us {
  display: inline-block;
  padding: 2%;
  vertical-align: top;
}

.latest-tweets {
  display: inline-block;
  /*margin-top:  7%;*/
  padding: 2%;
  vertical-align: top;
}

.latest-posts {
  display: inline-block;
  padding: 2%;
  vertical-align: top;
}

.flickr {
  display: inline-block;
  padding: 2%;
  vertical-align: top;
}

footer {
  background-color: #404040;
  color: gray;
}

h4.about-us {
  color: white;
}

.copyright-footer {
  display: inline-block;
  vertical-align: top;
  padding-left: 0%;
  margin: auto;
}

/*Border Images*/
.image2 {
  height: 80%;
}

.blank-box {
  display: inline-block;
  background-color: white;
  height: 40px;
  color: black;
}
